{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static "users/styles.css"%}">
</head>  
<body>
    <div id="header">
        <a href="#">BrookesConnect</a> 
        <a href="#">About</a>
        <a href="#">Browse Research</a>
        <a href="#">My profile</a>
        <a href="#">My research</a>
        <a href="#">Account</a>
    </div>
    <div id="main">
                <p>Welcome example example_user to research_site</p>
                <div id="intro_text">
                    <p>Neque convallis a cras semper auctor neque. Tempus imperdiet nulla malesuada pellentesque elit eget. Eros in cursus turpis massa tincidunt. Sociis natoque penatibus et magnis dis parturient. Facilisis volutpat est velit egestas dui id ornare arcu. Nulla facilisi cras fermentum odio eu feugiat. Nec </p>
                    <p>Latest Research</p>
                </div>
                <div class="top_right" style="grid-row: 1/4; grid-column: 2;"></div>
            <ul>
                <li>Neque convallis a cras semper auctor neque. autor neque</li>
                <li>Neque convallis a cras semper auctor neque.</li>
                <li>Neque convallis a cras semper auctor neque.</li>
                <li>Neque convallis a cras semper auctor neque.</li>
            </ul> 
                <div id="sub-banner">
                    <h2>Artificial Intelligence</h2>
                        <div class="research_trio">
                            <div class="research">
                                <p>Example title</p>
                                <p>Short Bio: Neque convallis a cras semper auctor neque. Tempus imperdiet nulla malesuada pellentesque elit eget. est veli Neque convallis a cras semper auctor neque. Tempus imperdiet nulla malesuada pellentesque elit eget. est veli</p>
                                <p>Author name</p>
                                <a href="#">Link to work</a>
                            </div>
                            <div class="research">
                                <p>Example title</p>
                                <p>Short Bio: Neque convallis a cras semper auctor neque. Tempus imperdiet nulla malesuada pellentesque elit eget. est veli </p>
                                <p>Author name</p>
                                <a href="#">Link to work</a>
                            </div>
                            <div class="research">
                                <p>Example title</p>
                                <p>Short Bio: Neque convallis a cras semper auctor neque. Tempus imperdiet nulla malesuada pellentesque elit eget. est veli </p>
                                <p>Author name</p>
                                <a href="#">Link to work</a> 
                            </div>
                        </div>
                </div>
            <div id="section">
                <div class="banner">
                        <h2>Artificial Intelligence</h2>
                        <div class="research_trio">
                            <div class="research">
                                <p>Example title</p>
                                <p>Short Bio: Neque convallis a cras semper auctor neque. Tempus imperdiet nulla malesuada pellentesque elit eget. est veli Neque convallis a cras semper auctor neque. Tempus imperdiet nulla malesuada pellentesque elit eget. est veli</p>
                                <p>Author name</p>
                                <a href="#">Link to work</a>
                            </div>
                            <div class="research">
                                <p>Example title</p>
                                <p>Short Bio: Neque convallis a cras semper auctor neque. Tempus imperdiet nulla malesuada pellentesque elit eget. est veli </p>
                                <p>Author name</p>
                                <a href="#">Link to work</a>
                            </div>
                            <div class="research">
                                <p>Example title</p>
                                <p>Short Bio: Neque convallis a cras semper auctor neque. Tempus imperdiet nulla malesuada pellentesque elit eget. est veli </p>
                                <p>Author name</p>
                                <a href="#">Link to work</a> 
                            </div>
                        </div>
                </div>
                <div class="banner">
                    <h2>Cyber Security</h2>
                    <div class="research_trio">
                        <div class="research">
                            <p>Example title</p>
                            <p>Short Bio: Neque convallis a cras semper auctor neque. Tempus imperdiet nulla malesuada pellentesque elit eget. est veli Neque convallis a cras semper auctor neque. Tempus imperdiet nulla malesuada pellentesque elit eget. est veli</p>
                            <p>Author name</p>
                            <a href="#">Link to work</a>
                        </div>
                        <div class="research">
                            <p>Example title</p>
                            <p>Short Bio: Neque convallis a cras semper auctor neque. Tempus imperdiet nulla malesuada pellentesque elit eget. est veli </p>
                            <p>Author name</p>
                            <a href="#">Link to work</a>
                        </div>
                        <div class="research">
                            <p>Example title</p>
                            <p>Short Bio: Neque convallis a cras semper auctor neque. Tempus imperdiet nulla malesuada pellentesque elit eget. est veli </p>
                            <p>Author name</p>
                            <a href="#">Link to work</a> 
                        </div>
                    </div>
                </div>
                <div class="banner">
                    <h2>Cyber Security</h2>
                    <div class="research_trio">
                        <div class="research">
                            <p>Example title</p>
                            <p>Short Bio: Neque convallis a cras semper auctor neque. Tempus imperdiet nulla malesuada pellentesque elit eget. est veli Neque convallis a cras semper auctor neque. Tempus imperdiet nulla malesuada pellentesque elit eget. est veli</p>
                            <p>Author name</p>
                            <a href="#">Link to work</a>
                        </div>
                        <div class="research">
                            <p>Example title</p>
                            <p>Short Bio: Neque convallis a cras semper auctor neque. Tempus imperdiet nulla malesuada pellentesque elit eget. est veli </p>
                            <p>Author name</p>
                            <a href="#">Link to work</a>
                        </div>
                        <div class="research">
                            <p>Example title</p>
                            <p>Short Bio: Neque convallis a cras semper auctor neque. Tempus imperdiet nulla malesuada pellentesque elit eget. est veli </p>
                            <p>Author name</p>
                            <a href="#">Link to work</a> 
                        </div>
                    </div>
                </div>
            </div>

    </div>
    <div id="footer">
        <div class="sub_footer">
            <p>example_contact1</p>
            <p>example_contact2</p>
            <p>example_contact3</p>
            <p>example_contact3</p>
        </div>
        <p>Oxford Brookes University
        <div class="sub_footer"> 
            <a href="#">Policies</a>
            <a href="#">Security</a>
            <a href="#">Website Acessibility</a>
            <a href="#">Manage cookies</a>
        </div>
    </div>
    <script src="{% static 'users/file.js'%}"></script>
</body>
</html>